.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #363a3f;
  min-height: 100vh;
}

.chat__messages {
  flex: 1;
}
.chat__inputButton {
  color: #fff;
}
.chat__input {
  display: flex;
  color: lightgrey;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 5px;
  border-top: 1px solid gray;
  background-color: #474b53;
  position: sticky;
  bottom: 0px;
  height: 90px;
}

.chat__input > form > input {
  padding: 15px;
  background: transparent;
  border: none;
  width: 100%;
  outline-width: 0;
  color: white;
  font-size: large;
}
.chat__input > form {
  flex: 1;
}
.chat__inputButton {
  display: none;
}

.chat__inputIcons > .MuiSvgIcon-root {
  margin: 5px;
}
